<div>
  <%= render_cell :recipe_list, :display %>
</div>
<!--<h3> List of Recipes in your library</h3>-->
<!--<hr>-->
<!---->
  <!--<% @recipes.each do |recipe| %>-->
      <!--<div class="span10 hero-unit">-->
        <!--<div class="recipe_name span6" style="float:left;">-->
          <!-- <strong>Recipe Name:</strong> <%= recipe.recipe_name %>-->
        <!--</div>-->
        <!--<div class="span9" style="text-align: right;">-->
          <!--<%= link_to "<i class='icon-pencil'></i>".html_safe, edit_recipe_path(recipe) %>-->
        <!--</div>-->
        <!--<div class="span9" style="text-align: right;">-->
          <!--<%= link_to "<i class='icon-trash'></i>".html_safe, recipe_path(recipe), :method => "delete" %>-->
        <!--</div>-->
      <!--</div>-->
  <!--<% end %>-->
