<p id="notice"><%= notice %></p>

<h3>Recipe View</h3>

<p>
  <b>Recipe Name:</b>
  <%= @recipe.recipe_name %>
</p>

<p>
  <b>Ingredients:</b>
  <%= @recipe.ingredients %>
</p>
<p>
  <b>Steps:</b>
  <%= @recipe.steps %>
</p>