<div class="accordion-group recipes_list">
  <span class="accordion-heading sidebar-title">All Recipes</span>
  <div class="accordion-inner">
    <% @recipes.each do |recipe| %>
      <div class="recipe">
        <%= link_to recipe.recipe_name, recipe %>
      </div>
  <% end %></div>
</div>
