<div class="accordion-group favorite recent recipes_list">
  <div class="accordion-heading">
    <span class="sidebar-title">Favorite and Recent Recipes</span>
  </div>

  <div class="accordion-inner">
    <% @recipes.each do |recipe| %>
        <div class="recipe">
          <%= link_to recipe.recipe_name, recipe %>
        </div>
    <% end %>
  </div>
</div>