<div class="accordion-group recipes-toolbox">
  <span class="accordion-heading sidebar-title">Recipes Toolbox</span>
  <div class="accordion-inner">
    <%= link_to "Add New Recipe", new_recipe_path(), :class => 'btn' %>
  </div>
</div>
